apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong-dep
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      containers:
        - name: ping-pong
          image: rdmon14/ping-pong:v31
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: "3000"
            # ESTA ES LA CONEXIÓN A LA DB:
            - name: DATABASE_URL
              value: "postgres://postgres:example@postgres-svc:5432/postgres"
              # --- AÑADE ESTO ---
          readinessProbe:
            httpGet:
              path: / # Tu ruta raíz ya hace el chequeo de la DB
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 5