apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      volumes:
        - name: shared-logs
          emptyDir: {}
      containers:
              - name: log-writer
                image: rdmon14/writer:v3
                command: ["node", "writer.js"] # Sobrescribe el CMD del Dockerfile
                volumeMounts:
                  - name: shared-logs
                    mountPath: /usr/src/app/files
              - name: log-reader
                image: rdmon14/reader:v3
                command: ["node", "reader.js"] # Sobrescribe el CMD del Dockerfile
                volumeMounts:
                  - name: shared-logs
                    mountPath: /usr/src/app/files