apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # Base de Datos
  - manifests/postgres.yaml
  - manifests/pvc.yaml
  - manifests/secret.yaml
  
  # Configuración (Esperando este archivo en el siguiente lote)
  - manifests/todo-configmap.yaml 

  # Backend
  - manifests/todo-app-backend-svc.yaml
  - manifests/todo-app-backend-dep.yaml
  
  # Frontend
  - manifests/todo-app-frontend-svc.yaml
  - manifests/todo-app-front-dep.yaml
  
  # Networking & Jobs
  - manifests/ingress.yaml
  - manifests/cronjob.yaml

  - backup-cronjob.yaml

# Kustomize cambiará los nombres "fake" de los YAML por estos reales
images:
  - name: todo-backend-image
    newName: rdmon14/todo-backend-image
    newTag: v9
  - name: todo-frontend-image
    newName: rdmon14/todo-frontend-image
    newTag: v9